@font-face {
  font-family: 'SK Modernist';
  src: url('../public/fonts/Sk-Modernist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SK Modernist';
  src: url('../public/fonts/Sk-Modernist-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SK Modernist Mono';
  src: url('../public/fonts/Sk-Modernist-Mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
